# Android build files
build/
*/build/
app/build/

/build
/.idea
*.iml
.gradle
/local.properties

# IntelliJ / Android Studio
.idea/
*.iml
.gradle/

# local files
local.properties

# logs
*.log

# OS files
.DS_Store